name: Publish to pub.dev

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: flutter-actions/setup-flutter@v4
      - uses: flutter-actions/setup-pubdev-credentials@v1

      - run: flutter pub get
      - run: flutter pub publish --force
